    .vismis-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        place-items: center;
    }
    
    .vision {
        border: 2px solid black;
        border-radius: 10px;
        height: auto;
        padding: 10px;
        margin: 20px;
        background-color: white;
        font-weight: bold;
        font-family: sans-serif;
    }
    
    .mission {
        border: 2px solid black;
        border-radius: 10px;
        height: auto;
        padding: 10px;
        margin: 20px;
        background-color: white;
        font-weight: bold;
        font-family: sans-serif;
    }
    
    @media screen and (max-width:850px) {
        .vismis-container {
            display: grid;
            grid-template-columns: auto;
            grid-gap: 20px;
            place-items: center;
            place-content: center;
        }
    }
    
    .cardimg {
        height: 100px;
    }