 h3::after {
     content: '';
     position: relative;
     width: 50px;
     height: 3px;
     background: steelblue;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
 }
 
 .container {
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .left {
     margin-left: 20px;
     margin-top: 50px;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 50%;
 }
 
 .right {
     margin: 50px;
     width: 50%;
 }